body {
    background-color: rgb(15, 238, 227);
    color: red;

    font-family: "Caprasimo", serif;

    margin: 0px;

}

header {
    font-size: 100;
    text-align: center;
    border: dashed 5px red;
    padding: 30px;
    color: red; 

}

h1 {
    font-size: 30;
}

p {
    font-size: 20;
}
